</main>

<footer class="site-footer">
    <div class="nma-container">
        <div class="nma-row one-third">
            <div class="nma-column">
                <div class="nma-widget">
                    <img loading="lazy" width="500" height="160" src="{{ relPathPrefix }}img/nma-logo-color.png" alt="New Media Arts Logo" />
                    <h2>About this 11ty Starter</h2>
                    <p>Lorem ipsum.</p>
                    <a href="#" class="nma-button">This is a Button</a>
                </div>
            </div>
            <div class="nma-column">
                <div class="nma-widget">
                    <h2>Location</h2>
                    <address>Location Name<br />
                        Name of the Road<br />
                        City, ST 12345</address>
                </div>
                <div class="nma-widget nma-contactinfo">
                    <h2>Contact Info</h2>
                    <h3>First Last</h3>
                    <h4>Title</h4>
                    <p><a href="tel:(808) 734-9510">(###) ###-####</a><br />
                        name [at] email.address
                    </p>
                    <a href="#" class="nma-button">Contact Us</a>
                </div>
            </div>
            <div class="nma-column">
                <div class="nma-widget">
                    <h2>Related Links</h2>
                    <nav class="site-navigation">
                        <ul>
                            <li><a href="#">Footer Link #1</a></li>
                            <li><a href="#">Footer Link #1</a></li>
                        </ul>
                    </nav>
                    <h2>Site map:</h2>
                    {% include _site-navigation.html %}
                </div>
            </div>    
        </div>    
    </div>
</footer>


<!-- MAIN JS FILE -->
<script src="{{ relPathPrefix }}js/script.js"></script>

</body>

</html>